  .gallery-card{  
    width: calc(33% - 49px);
    height: 340px;
    position:relative;
    border-radius: 10px;     
    box-sizing: border-box; 
    
  }
  
  .gallery-card .card {
    width: 340px;
    height: 340px;
    
  }
  
  .gallery-picture {
    object-fit: cover;
    width: 100%;
    height: 340px;
    border-radius: 10px;
  }
  
  .gallery-title {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    line-height: 25.67px;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 52px;
    padding: 15px;
    color: map-get($colors, secondary);
  }

  @media (max-width: 768px) {
    .gallery-card{  
      width: 100%;
  }
}