.banner {
    img{     
        filter: brightness(0.8);
    }
}
.about-collapse{
    .collapse-container { 
        flex-direction: column;         
        max-width: 1043px;
        width: 100%;
        margin: 0px 108.5px;
    
        .collapse-item { 
            width: 100%;
            margin-bottom: 0px;     
        
        .collapse-title {
            font-size: 24px;
        }    
        }    
        .collapse-content{ 
            box-sizing: border-box;  
            max-width: 1043px;
            text-align: left;
            padding-left: 35px;
            margin: 20px auto 35px auto;
            font-size: 18px;
            background-color: #F6F6F673;
            font-weight: 400;
            text-align: justify;
            padding: 2px;
            overflow: hidden;
                    }
        &.active .collapse-content {
            max-height: 500px; 
            padding: 2px; 
                
        } 
    }   
    }   
    @media (max-width: 1023px) {
        .header {
            margin-bottom: 19px;  
        }

        .banner{
            height: 111px;
            margin-bottom: 0px;
        }
        .about-collapse{
            margin: 0;

            .collapse-container {              
            margin: 0;           
            margin-bottom: 25px;

        
            .collapse-item {
                height: 30px;
                margin-bottom: 0px;
                max-width: 1023px;
                width: auto;
            
            .collapse-title {
                font-size: 13px;
                line-height: 18.54px;
            }
            .arrow-icon {
                font-size: 16px;
                width: 16px;
                height: 9.14px;
                padding: 1px 4px;
              }
        
        }
            .collapse-content{   
                font-size: 12px;
                line-height: 17.11px;
                margin: 5px 5px 5px 20px;
                padding: 0; 
                text-align: justify;
                width: 89%;    
                        }
            &.active .collapse-content {
            max-height: 50px; 
            }                        
        
    }
    }
}