// media responsive à ajouter
.app-header {
    margin : 40px 100px 38px 100px;
}

.app-banner {    
    background: map-get($colors, secondary);
    margin: 0px 100px 38px 100px;
}


.about-collapse {
    .collapse-container {
        display: flex;
        flex-direction: column;
        margin: 0px 208.5px 38px 208.5px;
        max-width: 1023px;
        height: 350px;
        width: 100%;
    }
    
    .collapse-item { 
        display: flex;           
        width: 1023px;       
        height: 0px;    
        margin: 0; 
        margin-bottom: 20px;     
    
    .collapse-title {
        font-size: 24px;
    }    
        
    .collapse-content{   
        background-color: #F6F6F673;
        font-size: 18px;
        font-weight: 400;    
        text-align: justify;
        max-width: 1043px;  
        width: 100%;
        padding: 10px;
        box-sizing: border-box;  
        margin-bottom: 20px; 
        overflow: hidden;
        transition: max-height 0.8s ease, padding 0.8s ease; 
                }


        
    @media (max-width: 1024px) {
        .collapse-container {
          margin: 0 20px 38px 20px;
        }
    
        .collapse-item, 
        .collapse-content {
          width: 100%; 
        }
    
  }
}
} 