// media responsive à ajouter
.about-collapse {

    .collapse-item { 
        display: flex;    
        width: 1023px;
        height: 54px;    
        margin-bottom: 30px;
        margin-left:178.5px;
    }
    .collapse-content  {
        width: 1023px;
        margin-left:178.5px;
        margin-bottom: 30px;
    }
  }

 