.rating {
    display: flex;
    width: 196px;
    height: 36px;
    gap: 10px;

    .fa-star{
        font-size: 24px;
    }

    .active{
      color: map-get($colors, primary);
    }
    .inactive{
       color: #e3e3e3; 
    }
}