.propertyBody1 {  
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    height: 77px;
    max-width: 1240px;
    width: 100%;
    margin : 0px 100px ;  
  }

    .title {   
    font-size: 36px;
    font-weight: 500;
    color: map-get($colors, primary);    
  }

  .location {    
    font-size: 18px;
    font-weight: 500;    
    text-align: left;
  }

  .propertyBody2 {  
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    height: 36px;
    max-width: 1240px;
    width: 100%;
    margin : 10px 100px 0px 100px;  
  }

  .collapse-container {
    display:flex;
    flex-direction: row;    
    max-width: 1240px;    
    width: 100%;
    justify-content: space-between;
    margin : 15px 100px 50px 100px;  
    
    .collapse-item {
      height: 52px;
    }

      .collapse-title {
        font-size: 18px;
      }

      .collapse-content {
        background-color: #F6F6F673;
        font-size: 18px;
        font-weight: 400;    
        text-align: justify; 
        padding: 10px;
        

          p {
            max-width: 582px;  
            width: 100%;
            margin: 0; 
            margin-bottom: 10px; 

          }
          
          ul {
            margin:0;
            padding: 20px;   
        }
            li {           
              list-style: none;   
      }
  }
  }

  



  