 $colors: (  
    primary: #FF6060,
    secondary: #f6f6f6,
    
);


@mixin mediamobile() {
    @media only screen and (max-width: 1023px) {
      @content;
    }
  }

  @mixin mediadesktop() {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }