@import '../styles/colorVariables.scss';

@import '../components/Banner/banner.scss';
@import '../components/Header/header.scss';
@import '../components/Footer/footer.scss';
@import '../components/Gallery/gallery.scss';
@import '../components/GalleryItem/galleryItem.scss';
@import '../components/CollapseItem/collapseItem.scss';
@import '../components/Host/host.scss';
@import '../components/Slideshow/slideShow.scss';
@import '../components/Tags/tags.scss';
@import '../components/Rating/rating.scss';

@import '../pages/Home/home.scss';
@import '../pages/ErrorPage/error.scss';
@import '../pages/About/about.scss';
@import '../pages/PropertyListing/propertyListing.scss';



body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Montserrat'; 
     
}
 .main {
  display: flex;
  flex-direction: column;
  max-width: auto;
  align-items: center;
  justify-content: center;   
  margin : 40px 100px 0px 100px; 
 

   @media (max-width: 1023px) {    
    margin : 20px 20px 0px 20px;
  }

 }

a:-webkit-any-link{
  color: black;
  text-decoration: none;
}




    









