/******************************HEADER*******************/
.App-header {
    display: flex;   
    justify-content: space-between;
    height: 68px;
    max-width: 1240px;
    width: 100%;
    margin : 45px 100px 50px 100px;
  
  }
  
  .App-logo {
    width: 210.32px;
    height: 68px;  
    }
  
  .App-nav ul{
    display: flex;
    justify-items: right;
    list-style: none;  
    gap: 57px; 
    padding: 0px; 
    }
  
  .App-link a{
    
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
    text-decoration: none;
    transition: text-decoration 400ms , transform 400ms  ;
    &:focus {
      text-decoration: underline;
    }
    }  
  
  /*a:active {
    
  } */ 
  @media (max-width: 768px) {
    .App-header {
      height: 46.88px;
      max-width: 335px;     
         
    }



    .gallery-card{  
      width: calc(50% - 55px);
  }
}