.header {
    display: flex;   
    justify-content: space-between;
    height: 68px;
    padding-bottom: 50px;
    max-width: 1240px;
    width: 100%;
        
    nav ul{
      display: flex;      
      list-style: none;  
      gap: 57px; 
      padding: 0px; 
    }
  
    a {    
      font-size: 24px;
      font-weight: 500;      
      text-align: right;
      text-decoration: none;
      transition: text-decoration 400ms , transform 400ms  ;
    &:focus {
      border-bottom: solid 1px black;;
    }
    } 
  }
    
@media (max-width: 1023px) {
  .header {
   height: 46.88px;   
   margin: 0px 0px 27px 20px;
   padding-bottom: 0;   
   gap: 0;
   width: 335px;
   
  img {      
    height: 46.88px;
    width: 145px;
    padding: 0px;
    }

  nav ul {
    width: 190px;
    height: 17px;
    box-sizing: border-box;
    margin: 16px 0px 16px 15px;
    padding: 0;
  }

  a {    
    font-size: 12px;       
    text-transform: uppercase;  // Majuscules pour tous les liens
  }
}
}
