/******************************GALERRY*******************/
.App-gallery {

    width: 1240px;   
    border-radius: 25px;
    background: map-get($colors, secondary);  
    margin-bottom: 50px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;   
    box-sizing: border-box;
    gap: 50px;
    padding: 55px 0px 55px 55px;  
   
  } 

 
 @media (max-width: 768px) {
    .App-gallery {
      flex-direction: column;
    }

    .gallery-item {
        width: 100%; // Les images prendront 100% de la largeur de l'écran, une par ligne
    }
    
 } 

  