.gallery {

    width: 1240px;   
    border-radius: 25px;
    background: map-get($colors, secondary);  
    margin-bottom: 50px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;   
    box-sizing: border-box;
    gap: 50px;
    padding: 55px 0px 55px 55px;  
   
  } 

 
 @media (max-width: 1023px) {
    .gallery {
      max-width: 1023px;
      width: 100%;
      flex-direction: column;
      padding: 0px  0px 27px 0px;      
      border-radius: 5px;
      margin-bottom: 0;
      margin-top: 27px;
    }    
 } 

  