.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    align-items: center;   
    height: 100vh;
    
}
.errorTitle {        
    font-size: 288px;
    font-weight: 700;    
    text-align: center;    
    color: #FF6060;   
    padding:0;
}

.errorText {    
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;
    color: #FF6060; 
}

.errorLink {    
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    margin-bottom: 149px;
    text-decoration: underline;    
}