.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    align-items: center;       
    

.errorTitle { 
    width: 597px;
    height: 263px;
    font-size: 288px;
    font-weight: 700;    
    text-align: center; 
    align-items: center;   
    color: map-get($colors, primary);   
    padding:0;
    margin-bottom: 149px;
    margin-top: 70px;
}
.errorTextContainer{
    display: flex;            
    justify-content: center;   
    align-items: center;      
    gap: 10px;
}

.errorText1, .errorText2 {
    font-size: 36px;
    font-weight: 500;
    color: map-get($colors, primary);
    text-align: center; 
  }  


.errorLink {    
    font-size: 18px;
    font-weight: 500;    
    margin: 149px 0px;
    text-decoration: underline;    
}
.spacer-error {
    height: 0px;
    width: 100%;
}

@media (max-width: 1023px) {
    .errorTitle { 
        width: 198px;
        height: 99px;
        font-size: 96px;          
        text-align: center; 
        align-items: center;   
        color: map-get($colors, primary);   
        padding:0;
        margin-bottom: 113px;       
    }
    
    .errorTextContainer {
        display: block; /* Change à block pour que les textes passent sur 2 lignes */
        text-align: center; /* Centre les textes dans ce mode */
      }
    
      .errorText1, .errorText2 {
        font-size: 18px; /* Réduis la taille pour petits écrans */
        display: block;  /* Chaque texte prend une ligne entière */
        line-height: 1.5;
      }
    }
    
    .errorLink {    
        font-size: 14px;
        font-weight: 500;
        line-height: 19.96px;
        margin-top: 113px;
        margin-bottom: 154px;
        text-decoration: underline;    
    }
    .spacer {
        height: 267px;
        width: 100%;
        display: block;
        
    }

}
