body {
  display: flex;
  justify-content: center;
  margin: 0;
}

a:-webkit-any-link{
  color: black;
  text-decoration: none;
}

/*.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}*/

/******************************HEADER*******************/
.App-header {
  display: flex;   
  justify-content: space-between;
  height: 68px;
  width: 1240px;
  margin : 45px 100px 50px 100px;

}

.App-logo {
  width: 210.32px;
  height: 68px;  
  }

.App-nav ul{
  display: flex;
  justify-items: right;
  list-style: none;  
  gap: 57px; 
  padding: 0px; 
  }

.App-link a{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-align: right;  
  }  

a:visited {
  text-decoration: underline;
}  

/******************************BANNER*******************/

.App-banner {
  position: relative;
  display: inline-block;
  width: 1240px;
  height: 223px;
  margin: 0px 100px 50px 100px;
  background: #F6F6F6;
  border: none;

}

.banner-picture {
  width: 100%;
  height: 223px;
  object-fit: cover; 
  display: block;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
  opacity: 0.6;
  border: none;
  mix-blend-mode: darken;
  }

.banner-text {
  position: absolute;   
  color: white;   /* Couleur du texte */
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat';
  line-height: 68.45px;
  top: 50%;       
  left: 50%;      
  transform: translate(-50%, -50%);  
    }
    
/******************************GALERRY*******************/
.App-gallery {
  width: 1240px;   
  border-radius: 25px;
  background: #F6F6F6;  
  margin: 0px 100px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 55px;
  box-sizing: border-box;
}

.gallery-card {  
  width: 340px;
  height: 340px;
  position:relative;
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  margin: 0px 0px 55px 0px;
  box-sizing: border-box;
}

.gallery-card .card {
  width: 340px;
  height: 340px;
}


.gallery-picture {
  object-fit: cover;
  width: 100%;
  height: 340px;
  border-radius: 10px;
}

.gallery-title {
  position: absolute;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 700;
  line-height: 25.67px;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 52px;
  padding: 10px;
  color: #FFFFFF;
}

/******************************FOOTER*******************/

.App-footer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 1440px;
  height: 209px;
  background-color: #000000;
}

.App-logo-footer {
  width: 122px;
  height: 39.44px; 
  margin-top: 66px; 
}

.text-footer {
  width: 513px;
  height: 46px; 
  color:#FFFFFF;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px; 
  text-align: center; 
  margin-top: 26.56px;
}











/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

@media (max-width: 768px) {
  .App-gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur les écrans moyens */
  }
}

@media (max-width: 480px) {
  .App-gallery {
    flex-direction: column;
  }
}



/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
