/******************************BANNER*******************/
@import '../../styles/colorVariables.scss';

.App-banner {
    position: relative;
    display: inline-block;
    width: 1240px;
    height: 223px;
    margin: 0px 100px 38px 100px;
    border: none;   
  
    img {
      position: absolute;
      width: 100%;
      height: 223px;
      object-fit: cover; 
      display: block;
      border-radius: 25px;
      box-shadow: 0px 4px 4px 0px #00000040;
      opacity: 0.8;
      border: none;
      mix-blend-mode: darken;  
      background-color: rgba(0, 0, 0, 0.6); 
      }
  
    .banner-text { 
      position: absolute;   
      color: map-get($colors, secondary);   
      text-align: center;    
      top:50%;
      left: 50%;      
      transform: translate(-50%, -50%); 
        h1 {
          margin:0;
          width: 733px;
          height: 68px;
          font-size: 48px;
          font-weight: 700;    
          line-height: 68.45px;
          text-shadow: 2px 2px 2px black;
        }

      }
      }